%% rebar plugins
{plugins, [rebar3_hex, rebar3_elixir]}.

%% behaviours should be compiled before other files
{erl_first_files, [
    "src/websocket_client/websocket_client_handler_behaviour.erl"
]}.

{erl_opts, [
    fail_on_warning,
    {src_dirs, ["src"]},
    debug_info
]}.

{dialyzer, [
    {warnings, [error_handling, race_conditions]},
    {plt_extra_apps, [ranch]}
]}.

%% eunit opts - Maven-like output formatting
{eunit_opts, [
    verbose,
    {report, {eunit_surefire, [{dir, "./test/eunit_results"}]}}
]}.

%% test coverage
{cover_enabled, true}.

{deps, [
    {hackney, {git, "git://github.com/benoitc/hackney.git", {tag, "1.6.x"}}},
    % Deps needed for tests
    {cowboy, {git, "git://github.com/RoXeon/cowboy.git", {tag, "websocket_payload_nif"}}},
    {meck, {git, "https://github.com/eproxus/meck.git", {tag, "0.8.4"}}}
]}.

%% pre-hooks
{pre_hooks, [
    {eunit, "mkdir -p test/eunit_results"}, %% Make dir for eunit' surefire test results
    {eunit, "epmd -daemon"} %% Sometimes, in some cases epmd daemon doesn't start during eunit tests, so we need to force start it
]}.

%% Cleanup
{clean_files, ["test/eunit_results"]}.

{overrides,
    [{override, cowboy, [
        {plugins, [pc]},
        {artifacts, ["priv/websocket_utils.so"]},
        {provider_hooks, [
            {post,
                [
                    {compile, {pc, compile}},
                    {clean, {pc, clean}}
                ]
            }]
        }
    ]}
]}.