%% behaviours should be compiled before other files
{erl_first_files, [
    "src/websocket_client/websocket_client_handler_behaviour.erl"
]}.

{erl_opts, [
    {src_dirs, ["src"]},
    debug_info
]}.


%% deps directory
{lib_dirs, ["deps"]}.

{deps, [
    {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {tag, "1.3.x"}}},
    {ssl2, ".*", {git, "ssh://git@git.plgrid.pl:7999/vfs/erlang-tls.git", {tag, "eb76a02"}}}
]}.

{sub_dirs, []}.
